.individual-card{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: rgb(195, 176, 176)
}
.card {
    margin: 2rem 0;
    color: rgb(195, 176, 176);
  }
  *{
    background-color: black;
    color: rgb(239, 115, 6);
    font-family: Impact, fantasy;
    text-transform: uppercase;
  }
  h3 {
    color: #f40b0b;
    text-align: center;
  }

.picture {
  width: 500px;
  height: 400px;
  text-align: center;
}

.nav-link {
  color: #f40b0b;
  text-decoration: none;
}

.nav-link a {
color: #f40b0b;
}

.h6 {
  color: rgb(195, 176, 176);
}
