.individual-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: rgb(195, 176, 176);
}
.card {
    margin: 2rem 0;
    .card-title {
      color: rgb(156, 156, 156);
    }
    .card-subtitle { 
      color: rgb(156, 156, 156);
    }
  }
* {
    background-color: black;
    color: rgb(239, 115, 6);
    font-family: Impact, fantasy;
    text-transform: uppercase;
  }
h1 {
    color: #f40b0b;
    text-align: center;
  }

.picture {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-link {
  color: #f40b0b;
}

.nav-link a {
color: #f40b0b;
}

.h6 {
  color: rgb(195, 176, 176);
}

h1 {
  color: #f40b0b;
    text-align: center;
}